body{
    margin-left: 150px;
}

.colors {
    border: 1px black solid;
    display: flex;
    min-height: 100px;
    width: 800px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.colors h1 {
    margin-left:15px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between 50px;
    flex-wrap: wrap;
    font-weight:bold;
}

.blue {
    background-color: blue;
    font-size: 23px;
    width: 100px;
    margin: 10px;
}

.indiagreen {
    background-color: #138808;
    font-size: 23px;
    width: 100px;
    margin: 10px;
}

.beige {
    background-color: beige;
    font-size: 23px;
    width: 100px;
    margin: 10px;
}

.red {
    background-color: red;
    font-size: 23px;
    width: 100px;
    margin: 10px;
}

.purple {
    background-color: purple;
    font-size: 23px;
    width: 100px;
    margin: 10px;
}

.gray {
    background-color: #999999;
    width: 100px;
    font-size: 23px;
    margin: 10px;
}

.lightpurple {
    background-color: #CBC3E3;
    width: 100px;
    font-size: 23px;
    margin: 10px;
    height: 173px;
}

.burntorange {
    background-color: rgb(204, 85, 0);
    font-size: 23px;
    width: 100px;
    height: 173px;
    margin: 10px;
}

.maroon {
    background-color: rgb(128, 0, 0);
    font-size: 23px;
    width: 100px;
    height: 173px;
    margin: 10px;
}

.navy {
    background-color: #000080;
    font-size: 23px;
    width: 100px;
    height: 173px;
    margin: 10px;
}

.fonts {
    border: 1px black solid;
    min-height: 350px;
    width: 800px;
    background-color: #999999;
}

.fonts h1 {
    color: #CBC3E3;
    margin-left: 15px;
}

.fontsflex {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    font-size: 24px;
    flex-wrap: wrap;
}

.sans-serif {
    font-family: sans-serif; 
}

.sans-serif h3 {
    color: #CBC3E3;
}

.fantasy {
    font-family: fantasy;
    font-size: 24px;
}

.fantasy h3 {
    color: #CBC3E3;
}

.monospace{
    font-family: monospace;
    font-size: 24px;
}

.monospace h3{
    color: #CBC3E3;
}

.cursive{
    font-family: cursive;
    font-size: 24px;
}

.cursive h3{
    color: #CBC3E3;
}

#serif {
    font-family: serif;
    font-size: 24px;
}

.serif h3{
    color: #CBC3E3;
}

.textstyle {
    border: 1px black solid;
    min-height: 350px;
    width: 800px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.textstyle h1 {
    margin-left: 15px;
}

.head {
    font-family: Cambria;
}

.head h1 {
    font-size: 26px;
    font-weight: bold;
}

.subhead {
    font-family: 'Times New Roman';
}

.subhead h3{
    font-size: 24px;
    font-weight: 100;
    margin-left: 15px;
}

.paragraph {
    font-family: Verdana;
    font-weight: 500;
    font-size: 12px;
    margin-left: 15px;
}


